<!DOCTYPE html>
<html>
<head>
    <title>Real Estate Review</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K7Q26DDBDF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K7Q26DDBDF');
    </script>

</head>
<body ng-app="postApp" ng-controller="postController">
    <div class="container">
        <h1><center><font size="40">Real Estate Review</font></center></h1>
		<div> <center>Hello! Welcome to Australia Realestate Review. Our happiness is to see you found your dream home. </center></div>
		<div> <center>Not sure where to start? Just type any address or  in the box. </center></div>
        <div class="row">
        <form class="col s12" ng-submit="submitForm()">
            <div class="row">
                <div class="input-field col m8 s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input placeholder="address" id="address" type="text" class="validate" ng-model="address" required="">
                    <label for="address">Type Your Real Estate Address</label>
                </div>
            </div>
            <div class="row">
                <a class="offset-m3 col m5 offset-s1 s10 btn waves-effect waves-light" ng-click="getPos()"><i class="material-icons left">location_on</i>Use Current Location</a>
            </div>
            <div class="row">
                <button id="submitButton" class="offset-m3 col m5 offset-s1 s10 btn waves-effect waves-light" type="submit">Check Result
            </div>
            <div class="row">
                <div class="progress" ng-show="is_loading">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </form>
        </div>
        <div ng-show="showResult">
            <p>Below is the suburb review for<b> {{ result.address }}: </b></p>
            <div class="row">
                <div class="col m6 s12">
                    <h5>Nearby schools</h5>
                    <div ng-repeat="school in result.nearby_school" class="col s12">
                        <h6><a ng-href="school.school_url">{{ school.name }}-{{ school.school_sector }}</a></h6>
                        <div ng-if="school.is_primary">
                            <h7><u>Primary</u></h7>
                            <ul>
                                <li>State overall score: <b>{{ school.primary_state_overall_score }}/100</b> </li>
                                <li>Math score: <b>{{ school.primary_math_score }}/5</b> </li>
                                <li>English score: <b>{{ school.primary_english_score }}/5</b> </li>
                            </ul>
                        </div>
                        <div ng-if="school.is_secondary">
                            <h7><u>Secondary</u></h7>
                            <ul>
                                <li>State overall score: <b>{{ school.secondary_state_overall_score }}/100</b> </li>
                                <li>Math score: <b>{{ school.secondary_math_score }}/5</b> </li>
                                <li>English score: <b>{{ school.secondary_english_score }}/5</b> </li>
                            </ul>
                        </div>
                        </ul>
                    </div>
                </div>
                <div class="col m6 s12">
                    <div class="row">
                        <h5>House performance</h5>
                        <p><i>* Pricing performance is based on recent sales on the market</i></p>
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th>ALL</th>
                                <th>1 BR</th>
                                <th>2 BR</th>
                                <th>3 BR</th>
                                <th>4 BR</th>
                                <th>5+ BR</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><b>Annual Growth</b></td>
                                <td>{{ result.suburb_review.house_all_annual_growth * 100 | number:2 }}%</td>
                                <td>{{ result.suburb_review.house_br1_annual_growth * 100 | number:2 }}%</td>
                                <td>{{ result.suburb_review.house_br2_annual_growth * 100 | number:2 }}%</td>
                                <td>{{ result.suburb_review.house_br3_annual_growth * 100 | number:2 }}%</td>
                                <td>{{ result.suburb_review.house_br4_annual_growth * 100 | number:2 }}%</td>
                                <td>{{ result.suburb_review.house_br5_annual_growth * 100 | number:2 }}%</td>
                            </tr>
                            <tr>
                                <td><b>Median Sold Price</b></td>
                                <td>${{ result.suburb_review.house_all_median_sold_price }}</td>
                                <td>${{ result.suburb_review.house_br1_median_sold_price }}</td>
                                <td>${{ result.suburb_review.house_br2_median_sold_price }}</td>
                                <td>${{ result.suburb_review.house_br3_median_sold_price }}</td>
                                <td>${{ result.suburb_review.house_br4_median_sold_price }}</td>
                                <td>${{ result.suburb_review.house_br5_median_sold_price }}</td>
                            </tr>
                            <tr>
                                <td><b>Median Rental Price</b></td>
                                <td>${{ result.suburb_review.house_all_median_rental_price }}</td>
                                <td>${{ result.suburb_review.house_br1_median_rental_price }}</td>
                                <td>${{ result.suburb_review.house_br2_median_rental_price }}</td>
                                <td>${{ result.suburb_review.house_br3_median_rental_price }}</td>
                                <td>${{ result.suburb_review.house_br4_median_rental_price }}</td>
                                <td>${{ result.suburb_review.house_br5_median_rental_price }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <h5>Unit performance</h5>
                        <p><i>* Pricing performance is based on recent sales on the market</i></p>
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th>ALL</th>
                                <th>1 BR</th>
                                <th>2 BR</th>
                                <th>3 BR</th>
                                <th>4 BR</th>
                                <th>5+ BR</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><b>Annual Growth</b></td>
                                <td>{{ result.suburb_review.unit_all_annual_growth * 100 | number:2 }}%</td>
                                <td>{{ result.suburb_review.unit_br1_annual_growth * 100 | number:2 }}%</td>
                                <td>{{ result.suburb_review.unit_br2_annual_growth * 100 | number:2 }}%</td>
                                <td>{{ result.suburb_review.unit_br3_annual_growth * 100 | number:2 }}%</td>
                                <td>{{ result.suburb_review.unit_br4_annual_growth * 100 | number:2 }}%</td>
                                <td>{{ result.suburb_review.unit_br5_annual_growth * 100 | number:2 }}%</td>
                            </tr>
                            <tr>
                                <td><b>Median Sold Price</b></td>
                                <td>${{ result.suburb_review.unit_all_median_sold_price }}</td>
                                <td>${{ result.suburb_review.unit_br1_median_sold_price }}</td>
                                <td>${{ result.suburb_review.unit_br2_median_sold_price }}</td>
                                <td>${{ result.suburb_review.unit_br3_median_sold_price }}</td>
                                <td>${{ result.suburb_review.unit_br4_median_sold_price }}</td>
                                <td>${{ result.suburb_review.unit_br5_median_sold_price }}</td>
                            </tr>
                            <tr>
                                <td><b>Median Rental Price</b></td>
                                <td>${{ result.suburb_review.unit_all_median_rental_price }}</td>
                                <td>${{ result.suburb_review.unit_br1_median_rental_price }}</td>
                                <td>${{ result.suburb_review.unit_br2_median_rental_price }}</td>
                                <td>${{ result.suburb_review.unit_br3_median_rental_price }}</td>
                                <td>${{ result.suburb_review.unit_br4_median_rental_price }}</td>
                                <td>${{ result.suburb_review.unit_br5_median_rental_price }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        var postApp = angular.module('postApp', []);
        postApp.controller('postController', function($scope, $http, $location, $anchorScroll) {
            $scope.address = "";
            $scope.is_loading = false;
            $scope.showResult = false;
            var backend_url = 'https://aureview.tdk-company.com/'
            $scope.getPos = function() {
                $scope.is_loading = true;
                function success(position) {
                    const latitude  = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    $scope.$apply(function(){
                        $scope.address = latitude + ',' + longitude;
                        $http({
                            method  : 'GET',
                            url     : backend_url + 'location/' + $scope.address,
                            headers : { 'Content-Type': 'application/json' }
                            })
                            .success(function(data) {
                                $scope.result = data;
                                $scope.showResult = true;
                                $scope.is_loading = false;
                            });
                    });
                }

                function error() {
                    $scope.address = 'Unable to retrieve your location';
                }
                navigator.geolocation.getCurrentPosition(success, error);
            };
            $scope.submitForm = function() {
                $scope.is_loading = true;
                $scope.showResult = false;
                $http({
                  method  : 'GET',
                  url     : backend_url + 'location/' + $scope.address,
                  headers : { 'Content-Type': 'application/json' }
                 })
                  .success(function(data) {
                    $scope.result = data;
                    $scope.is_loading = false;
                    $scope.showResult = true;
                  });
            };
        });

    </script>
</body>
</html>
